nav{
    padding: 20px;
}
.navigation {
    list-style: none; /* Xóa dấu chấm đầu dòng */
    padding: 0;
    display: flex; /* Hiển thị các nút theo hàng ngang */
    gap: 10px; /* Khoảng cách giữa các nút */
    justify-content: center;
  }
  
.route{
    width: 60px;
    height: 20px;
    padding: 10px 20px;
    background-color: #141313; /* Màu nền của nút */
    color: rgb(175, 81, 81); /* Màu chữ của nút */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s; /* Hiệu ứng khi di chuột */
  }
  
.route:hover {
    background-color: #f0f1f3; /* Màu nền khi di chuột */
  }
  
.route:active {
    background-color: #e8ecf1; /* Màu nền khi nhấn */
  }
  